<div class = "ui fluid borderless inverted black menu">
	<div class="ui item">
      {{#link-to 'index'}}
        <i class="large circular home icon"/> Smoothlinks
      {{/link-to}}
     </div>    
	<div class="ui item">
      {{#link-to 'index'}}
       	My Slideshows
      {{/link-to}}
     </div>         

</div>

<div class="ui fluid centered container">
	<div class="ui one column page grid">
	  <div class="column">
		{{outlet}}
	  </div>
	</div>
</div>