
  	  <div class="ui center aligned segment">
  	  	<div class="ui header">My Slideshows</div>
  	  	<div class="link list">
		  {{#each session.secure.slideshows as |slideshow|}}
		  	<div class="item"> {{#link-to 'edit-slideshow' slideshow.edit_code}} {{slideshow.name}} {{/link-to}} </div>
		  {{/each}}
		</div>
	  </div>

	  <form class="ui form" >
		  <div class="field">
		  	{{input value=title placeholder="Title" enter='makeSlideShow'}}
		  </div>
		  <div class="field">
		  	<button class="ui fluid blue button" {{action 'makeSlideshow'}}>
		        Create Slideshow
		  	</button>
		  </div>

	  </form>



{{outlet}}
