<div class="ui column grid">

    <h2> Playing {{model.name}} </h2>
    {{#each model.links key="id" as |link|}}
        {{highlight-link slideshow=model link=link}}
    {{/each}}

</div>

{{outlet}}

