    {{#link-to 'edit-slideshow' model.edit_code}} <i class="edit icon"/> Edit {{/link-to}}
    <div class="ui center aligned segment">
    <h2> Playing {{model.name}} </h2>
    	<div class="ui segment">
		    <div class="ui horizontal list">
		    	<div class="item" {{action "previousLink" }}>  <i class="left link arrow icon"/> </div>
			    {{#each model.links key="id" as |link|}}
			        {{highlight-link slideshow=model link=link action="pickLink"}}
			    {{/each}}
		    	<div class="item" {{action "nextLink" }}> <i class="right link arrow icon"/> </div>
		    </div>
	    </div>
    </div>



